@import "../utils.scss";

.form_cont{
    //border: 2px solid violet;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin: 70px auto 20px auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: $shadow;
    background: white;
    .heading_cont{
        //border: 2px solid indigo;
        @include headingMed();
        text-align: center;
    }
    .fields_cont{
        //border: 2px solid orange;
        display: flex;
        flex-direction: column;
        input[type="file"],
        input[type="text"]{
            //border: 2px solid blue;
            font-size: 0.9rem;
            margin: 10px 5px;
            padding: 10px;
            border-radius: 8px;
            outline: none;
            border: 2px solid white;
            transition: 0.2s;
            cursor: pointer;
            &:focus{
                border: 2px solid $btnDefault;
                box-shadow: 0.2px 0.2px 5px #3e98ff80;
            }
        }
        select{
            //border: 2px solid blue;
            font-size: 0.9rem;
            margin: 10px 5px;
            padding: 10px;
            border-radius: 8px;
            outline: none;
            border: 2px solid white;
            transition: 0.2s;
            cursor: pointer;
            &:focus{
                border: 2px solid $btnDefault;
                box-shadow: 0.2px 0.2px 5px rgba(62, 152, 255, 0.5);
            }
        }
        textarea{
            //border: 2px solid blue;
            font-size: 0.9rem;
            margin: 10px 5px;
            padding: 10px;
            border-radius: 8px;
            outline: none;
            border: 2px solid white;
            transition: 0.2s;
            cursor: pointer;
            &:focus{
                border: 2px solid $btnDefault;
                box-shadow: 0.2px 0.2px 5px rgba(62, 152, 255, 0.5);
            }
        }
        button{
            //border: 2px solid green;
            @include primaryBtn();
        }
    }
}