@import "../utils";

.grouped_products_cont{
    //border: 2px solid red;
    width: 90px;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    @include containerHollow;
    box-shadow: $shadow;
    .upper_part{
        //border: 2px solid violet;
        text-align: center;
        width: 86px;
        height: 86px;
        img{
            //border: 2px solid indianred;
            width: 96%;
            height: 96%;
        }
    }
    .lower_part{
        //border: 2px solid blue;
        text-align: center;
        .grouped_products_name{
            //border: 2px solid green;
            @include headingSm();
        }
    }
}
