
.header_bg{
    //border: 2px solid red;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    width: 98%;
    margin: 10px 0;
    position: fixed;
    top: 1%;
    left:0.5%;
    transition: 0.3s;
    background: linear-gradient(90deg, rgb(255, 156, 102), rgb(255, 75, 105));
    z-index: 12;
    padding: 0 0.5%;
    .left_part{
        //border: 2px solid violet;
        width: 40px;
        margin: 0 0 0 10px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .right_part{
        //border: 2px solid indigo;
        width: 76%;
        display: flex;
        justify-content: right;
        align-items: center;
        .nav_section{
            //border: 2px solid blue;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            gap:6%;
            margin: 0 1%;
            font-size: 0.9rem;
            .navlinks{
                text-decoration: none;
                color: white;
            }
            .cart_navlinks{
                position: relative;
                .cart_notification{
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background: white;
                    color: #ff4b69;
                    width: 16px;
                    height: 16px;
                    display: grid;
                    place-items:center;
                    border-radius: 50%;
                    font-size: 0.5rem;
                }
            }
        }
    }

    .left_part_mobile{
        //border: 2px solid violet;
        display: none;
    }
    .right_part_mobile{
        //border: 2px solid indigo;
        display: none;
    }
}



@media screen and (width <= 770px){
    .header_bg{
        .left_part{
            img{
            }
        }
        .right_part{
            .nav_section{
                //border: 2px solid blue;
                font-size: 0.8rem;
                gap:4%;
                .navlinks{
                }
            }
        }
    }

}


@media screen and (width <= 570px){
    .header_bg{
        //border: 2px solid green;
        border-radius: 4px;
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 0 2%;
        width: 95%;
        
        //width: 95%;
        .left_part{
            display: none;
        }
        .right_part{
            display: none;
        }
        .left_part_mobile{
            //border: 2px solid red;
            display: flex;
            align-items: center;
            cursor: pointer;
            .GiHamburgerMenu{
                width: 25px;
                font-size: 25px;                
            }
        }
        .right_part_mobile{
            //border: 2px solid green;
            display: flex;
            align-items: center;
            .username{
                font-size: 0.8rem;
                color: white;
                font-weight: 500;
            }
            img{
            }
        }
    }
}