
.header_bg{
    //border: 2px solid red;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    width: 98%;
    margin: 10px 0;
    position: fixed;
    top: 1%;
    left:0.5%;
    transition: 0.3s;
    background: linear-gradient(90deg, rgb(255, 156, 102), rgb(255, 75, 105));
    z-index: 12;
    padding: 0 0.5%;
    .left_part{
        //border: 2px solid violet;
        width: 40px;
        margin: 0 0 0 10px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .right_part{
        //border: 2px solid indigo;
        width: 76%;
        display: flex;
        justify-content: right;
        align-items: center;
        .nav_section{
            //border: 2px solid blue;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            gap:6%;
            margin: 0 1%;
            font-size: 0.9rem;
            .navlinks{
                text-decoration: none;
                color: white;
            }
            .cart_navlinks{
                position: relative;
                .cart_notification{
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background: white;
                    color: #ff4b69;
                    width: 16px;
                    height: 16px;
                    display: grid;
                    place-items:center;
                    border-radius: 50%;
                    font-size: 0.5rem;
                }
            }
        }
    }

    .left_part_mobile{
        //border: 2px solid violet;
        display: none;
    }
    .right_part_mobile{
        //border: 2px solid indigo;
        display: none;
    }
}

.my_profile_dialog_cont{
    background:white;
    padding:0 10px 10px 10px;
    border-radius:8px;
    max-width:400px;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    .update_preview_cont{
        //border: 2px solid green;
        margin-top: 10px;
        .main_heading{
            border: 1px solid #f44b69;
            text-align:center;
            font-weight: bold;
            color: #f44b69;
            border-radius: 4px;
            //font-size: 0.8rem;
        }
        .my_details{
            //border: 2px solid blue;
            display: grid;
            grid-template-columns: 20% 30% 15% 35%;
            margin-top: 10px;
            .heading{
                //border: 2px solid green;
                font-size: 0.7rem;
                font-weight: bold;
                color: #515151;
                
            }
            .value{
                //border: 2px solid violet;
                font-size: 0.7rem;
                word-wrap: break-word;
                .BiEdit{
                    color: #f44b69;
                }
            }
        }
    }
    .my_profile_cont{
        //border:2px solid blue;
        margin-top: 10px;
        .main_heading{
            border: 1px solid #f44b69;
            text-align:center;
            font-weight: bold;
            color: #f44b69;
            border-radius: 4px;
        }
        .my_details{
            //border: 2px solid blue;
            display: grid;
            grid-template-columns: 40% 60%;
            margin-top: 10px;
            .heading{
                //border: 2px solid green;
                font-size: 0.7rem;
                font-weight: bold;
                color: #515151;
                
            }
            .value{
                //border: 2px solid violet;
                display: flex;
                align-items: center;
                font-size: 0.7rem;
                word-wrap: break-word;
                input{
                    width: 40%;
                }
                .BiEdit{
                    color: #f44b69;
                    font-size: 1rem;
                    margin-left: 5px;
                }
            }
        }
        .btns{
            //border: 2px solid red;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .close_btn{
                background: #f44b69;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 8px;
            }
            .update_btn{
                background: rgb(57, 146, 255);
                color: white;
                border: none;
                border-radius: 4px;
                padding: 8px;
            }
        }
    }
}


@media screen and (width <= 770px){
    .header_bg{
        .left_part{
            img{
            }
        }
        .right_part{
            .nav_section{
                //border: 2px solid blue;
                font-size: 0.8rem;
                gap:4%;
                .navlinks{
                }
            }
        }
    }

}


@media screen and (width <= 570px){
    .header_bg{
        //border: 2px solid green;
        border-radius: 4px;
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 0 2%;
        width: 95%;
        
        //width: 95%;
        .left_part{
            display: none;
        }
        .right_part{
            display: none;
        }
        .left_part_mobile{
            //border: 2px solid red;
            display: flex;
            align-items: center;
            cursor: pointer;
            .GiHamburgerMenu{
                width: 25px;
                font-size: 25px;                
            }
        }
        .right_part_mobile{
            //border: 2px solid green;
            display: flex;
            align-items: center;
            .username{
                font-size: 0.8rem;
                color: white;
                font-weight: 500;
            }
            img{
            }
        }
    }
}