@import "../utils.scss";

.item_not_found_outer_cont{
    border: 2px solid $primary;
    border-radius: 8px;
    padding: 4px;
    background: $secondaryLow;
    .item_not_found_inner_cont{
        //border: 2px solid red;
        height: 200px;
        display: grid;
        place-content: center;
        border: 1px solid $primary;
        border-radius: 5px;
        background: $bgPrimary;
        .statusCode{
            //border: 2px solid blue;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            color: $primary;
        }
        .heading{
            //border: 2px solid green;
            font-size: 0.9rem;
            color: #919191;
        }
    }
}