@import "../utils.scss";

.pagination_cont{
    //border: 2px solid red;
    margin-bottom: 30px;
    .btn_cont{
        //border: 2px solid green;
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        button{
            padding: 6px 10px;
            font-size: 0.8rem;
            background: white;
            color: $primary;
            @include containerHollow(4px);

            //color: rgba(255, 69, 100, 0.2);
            //border: 1px solid rgba(255, 69, 100, 0.2);
            cursor: pointer;
            &:hover{
                background: $primaryHover;
            }
        }
    }
}