@import "../utils.scss";

.recommendation_cont{
    //border: 2px solid red;
    margin-top: 20px;
    .same_brand_recommendation{
        //border: 2px solid violet;
        .heading{
            //border: 2px solid blue;
            background: linear-gradient(90deg, $primary, $secondary);
            padding: 5px 20px;
            font-size: 0.9rem;
            font-weight: bold;
            color: white;
            border-radius: 4px;
        }
        .products{
            //border: 2px solid green;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .product_cont{
                position: relative;
                //border: 2px solid red;
                width: 200px;
                height: 300px;
                margin: 20px 10px;
                padding:10px;
                border-radius: 8px;
                text-align: center;
                box-shadow: $shadow;
                color: white;
                .product_placeholder_cont{
                    border: 1.5px dashed #c1c1c1;
                    position: absolute;
                    width: 90%;
                    height: 92%;
                    border-radius: 8px;
                    box-sizing: border-box;
                    transform: rotateY(90deg);
                    transition: 0.2s;
                    .heading{
                        border-radius: 4px;
                        width: 78%;
                        height: 70%;
                        color: #919191;
                        display: grid;
                        place-items: center;
                        background: none;
                    }
                    button{
                        padding: 10px;
                        border: 1px solid $primary;
                        border-radius: 4px;
                        color: $primary;
                        background: linear-gradient(90deg, #e1e1e1, #f1f1f1);
                        font-weight: bold;
                        cursor:pointer;
                        margin-top: 10px;
                        &:hover{
                            background: linear-gradient(90deg, #adadad, #515151);
                            color: white;
                            border: none;
                        }
                    }
                }
                .real_cont{
                    //border: 2px solid blue;
                    position: absolute;
                    width: 90%;
                    background: white;
                    border-radius: 8px;
                    transition: 0.2s;
                    .image_cont{
                        //border: 2px solid pink;
                        //height: 200px;
                        width: 100%;
                        height: 180px;
                        box-sizing: border-box;
                        img{
                            border-radius: 4px;
                            width: 100%;
                            height: 175px;
                            box-sizing: border-box;
                        }
                    }
                    .name{
                        //border: 2px solid blue;
                        word-wrap: break-word;
                        font-size: 0.8rem;
                        color: $primary;
                        font-weight: bold;
                    }
                    .price{
                        //border: 2px solid orange;
                        font-size: 1rem;
                        color: #515151;
                        font-weight: bold;
                        margin-top: 5px;
                    }
                    button{
                        padding: 10px;
                        border: 1px solid $primary;
                        border-radius: 4px;
                        color: $primary;
                        background: white;
                        font-weight: bold;
                        cursor:pointer;
                        margin: 5px 0 10px 0;
                        &:hover{
                            background: linear-gradient(90deg, $primaryLow, $secondaryLow);
                            color: white;
                            border: none;
                        }
                    }
                }
                
            }
        }
    }
    .same_category_recommendation{
        //border: 2px solid indigo;
        .heading{
            //border: 2px solid blue;
        }
        .products{
            //border: 2px solid green;
            display: flex;
            justify-content: space-around;
            .product{
                //border: 2px solid red;
                width: 200px;
                padding:10px;
                border-radius: 8px;
                text-align: center;
                .image_cont{
                    //border: 2px solid pink;
                    //height: 200px;
                    img{
                        border-radius: 4px;
                        width: 100%;
                    }
                }
                .name{
                    //border: 2px solid blue;
                    word-wrap: break-word;
                    font-size: 0.8rem;
                    color: $primary;
                    font-weight: bold;
                }
                .price{
                    //border: 2px solid orange;
                    font-size: 1rem;
                    color: #515151;
                    font-weight: bold;
                    margin-top: 10px;
                }
                button{
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    background:linear-gradient(90deg, $primary, $secondary);
                    font-weight: bold;
                    cursor:pointer;
                    &:hover{
                        background: linear-gradient(90deg, $primaryLow, $secondaryLow);
                    }
                }
            }
        }
    }
}