

.products_bg{
    //border: 2px solid red;
    padding: 0 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    .product_cont{
        //border: 2px solid rgb(255, 103, 255);
        width: 12rem;
        border-radius: 18px;
        overflow: hidden;
        box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
        margin-top: 30px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //gap: 10px;
        .upper_part{
            //border: 2px solid indigo;
            .link{
                //border: 2px solid indigo;
                display: block;
                width:98%;
                height:150px;
                img{
                    //border: 2px solid blue;
                    width: 98%;
                    height: 100%;
                    //margin: 2.2%;
                }
            }
        }
        .middle_part{
            //border: 2px solid green;
            .info{
                //border: 2px solid yellow;
                text-align: center;
            }
            .name{
                font-size: 1rem;
                font-weight: bold;
                color: rgb(255, 69, 100);
            }
            .price{
                font-size: 0.9rem;
            }
            .rating{
                font-size: 0.9rem;
            }
        }
        .lower_part{
            //border: 2px solid orange;
        }
    }
}

@media screen and (width <= 570px) {
    .products_bg{
        .product_cont{
            width: 11rem;
            padding: 0 10px;
            .middle_part{
                //border: 2px solid green;
                .info{
                    //border: 2px solid yellow;
                    text-align: center;
                }
                .name{
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: rgb(255, 69, 100);
                }
                .price{
                    font-size: 0.8rem;
                }
                .rating{
                    font-size: 0.8rem;
                }
            }
            .lower_part{
                
            }
        }
    }
}