

.products_bg{
    //border: 2px solid red;
    padding: 0 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //gap: 10%;
    .product_cont{
        //border: 2px solid rgb(255, 103, 255);
        width: 12rem;
        border-radius: 18px;
        overflow: hidden;
        box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
        margin-top: 20px;
        background: white;
        .upper_part{
            //border: 2px solid indigo;
            .link{
                //border: 2px solid indigo;
                display: block;
                img{
                    //border: 2px solid blue;
                    width: 95%;
                    margin: 2.2%;
                }
            }
        }
        .middle_part{
            //border: 2px solid green;
            .info{
                //border: 2px solid yellow;
                text-align: center;
            }
            .name{
                font-size: 1rem;
                font-weight: bold;
                color: rgb(255, 69, 100);
            }
            .price{
                font-size: 0.9rem;
            }
            .rating{
                font-size: 0.9rem;
            }
        }
        .lower_part{
            //border: 2px solid orange;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (width <= 570px) {
    .products_bg{
        .product_cont{
            width: 9rem;
            .middle_part{
                //border: 2px solid green;
                .info{
                    //border: 2px solid yellow;
                    text-align: center;
                }
                .name{
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: rgb(255, 69, 100);
                }
                .price{
                    font-size: 0.8rem;
                }
                .rating{
                    font-size: 0.8rem;
                }
            }
            .lower_part{
                //border: 2px solid orange;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                button{
                    padding: 6px 10px;
                    border: none;
                    color: white;
                    border-radius: 4px;
                }
                .add_btn{
                    background: linear-gradient(90deg, rgb(255, 69, 100), rgb(255, 198, 207));
                }
                .buy_btn{
                    background: linear-gradient(90deg, rgb(255, 198, 207), rgb(255, 69, 100));
                }
            }
        }
    }
}