@import "../utils";

.share_btn{
    border: none;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 8px;
    color: white;
    display: grid;
    place-items: center;
    background: transparent;
    cursor: pointer;
    &:hover{
        > :first-child{
            background: white;
            color: black;
        }
        background: white;
        color: black;
    }
    .MdOutlineShare{
        //border: 1px solid blue;
        font-size: 1.1rem;
    }
}