@import "../utils";

.sidebar_bg{
    //border: 2px solid red;
    display: none;
    width: 102%;
    height: 104vh;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: -20%;
    //left: 0%;
    transition: 0.3s;
    z-index: 12;
    .sidebar_left_part{
        //border: 2px solid violet;
        width: 60%;
        overflow: scroll;
        background: linear-gradient(90deg, $bgPrimary, white);
        //box-shadow: 4px 8px 16px rgba(0,0,0,0.9);

        .sidebar_scrollable_part{
            //border: 2px solid rgb(149, 0, 255);
            //padding: 0 0 0 0px;
            .sidebar_navlink{
                //border: 1px solid blue;
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: column;
                color: #515151;
                font-family: rokkitt;
                font-weight: bold;
                margin: 30px auto;
                font-size: 1rem;
                width: 100px;
                //width: ;
            }
            .cart_sidebar_navlink{
                //border: 1px solid red;
                position: relative;
                .notification{
                    //border: 1px solid red;
                    background: linear-gradient(90deg, $primary, $secondary);
                    color: white;
                    position: absolute;
                    top: 1px;
                    right: 0px;
                    //background: white;
                    //color:$primary;
                    width: 18px;
                    height: 18px;
                    display: grid;
                    place-items:center;
                    border-radius: 50%;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .sidebar_right_part{
        //border: 2px solid blue;
        //background: transparent;
        width: 40%;
        .CgClose{
            color: white;
            margin: 10% 30%;
            box-shadow: 1px 1px 20px 10px rgba(255, 255, 255, 0.7);
            background: rgba(255, 255, 255, 0.56);
            font-size: 20px;
        }
    }
}

@media screen and (width <= 570px) {
    .sidebar_bg{
        display: flex;
    }
}