
.sidebar_bg{
    border: 2px solid red;
    display: flex;
    width: 100%;
    height: 104vh;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0%;
    left: 0%;
    .left_part{
        border: 2px solid violet;
        width: 60%;
        overflow: scroll;
        background: white;
        .scrollable_part{
            border: 2px solid indigo;
        }
    }
    .right_part{
        border: 2px solid blue;
        //background: transparent;
        width: 40%;
    }
}