


.single_product_template_bg{
    //border: 2px solid red;
    margin-top: 4.5rem;
    .product_cont{
        //border: 2px solid violet;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left_part{
            //border: 2px solid indigo;
            width: 16rem;
            margin: 10px auto;
            .navlink{
                //border: 2px solid red;
                display: block;
                img{
                    width: 100%;
                }            
            }
        }
        .right_part{
            //border: 2px solid blue;
            width: 16rem;
            margin: 10px auto;
            .upper_part{
                border: 1px solid #ff4b69;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 7px;
                border-radius: 8px;
                .wishlist_cont{
                    display: flex;
                    align-items: center;
                    .BiHeart{
                        //border: 2px solid rgb(0, 255, 47);
                        font-size: 1.2rem;
                    }
                    span{
                        //border: 2px solid rgb(47, 0, 255);
                        font-size: 0.6rem;
                        color: rgb(255, 69, 100);
                    }
                }
                .include_cont{
                    display: flex;
                    align-items: center;
                    input{
                        //border: 2px solid rgb(0, 255, 47);
                        //font-size: 1.2rem;
                        width: 0.9rem;
                        height: 0.9rem;
                    }
                    span{
                        //border: 2px solid rgb(47, 0, 255);
                        font-size: 0.6rem;
                        color: rgb(255, 69, 100);
                    }
                }
                
            }
            .info_cont{
                //border: 2px solid green;
                .heading_values{
                    //border: 2px solid yellow;
                    //display: grid;
                    //grid-template-columns: 90px auto;

                    display: flex;
                    justify-content: space-between;
                    gap: 30px;
                    margin: 10px;
                    span{
                        //border: 2px solid orange;
                    }
                    .info_heading{
                        //border: 2px solid rgb(255, 0, 0);
                        font-size: 0.8rem;
                        color: #515151;
                        font-weight: bold;
                    }
                    .info_value{
                        font-size: 0.8rem;
                        place-self: center;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

@media screen and (width <= 570px) {
    .single_product_template_bg{
        margin-top: 4.5rem;
        .product_cont{
            .left_part{
                width: 12rem;
                img{
                }            
            }
            .right_part{
                .whishlist_cont{
                    .BiHeart{
                    }
                    span{
                        font-size: 0.6rem;
                    }
                    
                }
                .info_cont{
                    .heading_values{
                        span{
                        }
                        .info_heading{
                            font-size: 0.8rem;
                        }
                        .info_value{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}