@import "../utils.scss";


.single_product_template_bg{
    margin-top: 4.5rem;
    .product_cont{
        //border: 2px solid violet;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left_part{
            //border: 2px solid indigo;
            width: 16rem;
            margin: 10px auto;
            .navlink{
                //border: 2px solid red;
                display: block;
                img{
                    width: 100%;
                }            
            }
        }
        .right_part{
            //border: 2px solid blue;
            width: 16rem;
            margin: 10px auto;
            .upper_part{
                @include containerHollow();
                //display: flex;
                //justify-content:flex-end;
                //align-items: center;
                padding: 7px;
                .wishlist_cont{
                    //border: 1px solid green;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .BiHeart{
                        //border: 2px solid rgb(0, 255, 47);
                        font-size: 1.2rem;
                        color: $primary;
                    }
                    span{
                        //border: 2px solid rgb(47, 0, 255);
                        font-size: 0.6rem;
                        color: $primary;
                    }
                }
                .include_cont{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    input{
                        //border: 2px solid rgb(0, 255, 47);
                        //font-size: 1.2rem;
                        width: 0.9rem;
                        height: 0.9rem;
                    }
                    span{
                        //border: 2px solid rgb(47, 0, 255);
                        font-size: 0.6rem;
                        color: $primary;
                    }
                }
                
            }
            .info_cont{
                //border: 2px solid green;
                .heading_values{
                    //border: 2px solid yellow;
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;
                    margin: 10px 0;
                    span{
                        //border: 2px solid orange;
                    }
                    .info_heading{
                        @include headingSm(#515151, 4px);
                        //border: 2px solid rgb(255, 0, 0);
                        //font-size: 0.8rem;
                        //color: #515151;
                        //font-weight: bold;
                    }
                    .info_value{
                        @include paraMed();
                        place-self: center;
                        text-align: justify;
                        padding: 4px;
                        .star_icons{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
.selected_coupon_dialog{
    //border: 1px solid red;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0.1px $primary;
    border: none;
    .btns_cont{
        display: flex;
        justify-content: space-between;
        .unselect_gift_btn{
            border: none;
            padding: 8px 10px;
            color: white;
            background: linear-gradient(90deg, #64acff, #0163d4);
            border-radius: 4px;
            margin-top: 15px;
        }
        .keep_selected_gift_btn{
            border: none;
            padding: 8px 10px;
            color: white;
            background: linear-gradient(90deg, $primary, $secondary);
            border-radius: 4px;
            margin-top: 15px;
        }

    }
}

@media screen and (width <= 570px) {
    .single_product_template_bg{
        margin-top: 4.5rem;
        .product_cont{
            .left_part{
                width: 12rem;
                img{
                }            
            }
            .right_part{
                .whishlist_cont{
                    .BiHeart{
                    }
                    span{
                        font-size: 0.6rem;
                    }
                    
                }
                .info_cont{
                    .heading_values{
                        span{
                        }
                        .info_heading{
                            font-size: 0.8rem;
                        }
                        .info_value{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}