

.summery_cont{
    background: white;
    height: 70%;
    width: 20rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 8px;
    .heading{
        text-align: center;
        font-weight: bold;
        border: 1px solid #ff4b69;
        margin: 0 0 10px 0;
        color: #ff4b69;
        border-radius: 5px;
    }
    .summery_table{
        //border: 2px solid green;
        height: 80%;
        overflow-x: hidden;
        overflow-y: scroll;
        //display: grid;
        //flex-direction: column;
        //grid-template-columns: 60% 10% 10% 10%;
        .scrollable_part{
            //border: 2px solid blue;
            padding: 20px 0;
            border-top:2px dotted #919191;
            border-bottom:2px dotted #919191;
            .row{
                //display: flex;
                display: grid;
                grid-template-columns: 60% 12% 8% 22%;
                font-size: 0.6rem;
            }
            .col{
    
            }
        }
    }
    .total_amount_row{
        display: grid;
        grid-template-columns: 60% 12% 8% 22%;
        font-size: 0.6rem;
        font-weight: bold;
        border: 1px solid #ff4b69;
        height: 13px;
        border-radius: 0 0 5px 5px;
        padding: 10px 0;
        .col{

        }
    }
}

.cart_bg{
    //border: 2px solid red;
    margin-top: 4.5rem;

    .access_bar_bg{
        //border: 2px solid red;
        display: flex;
        border-radius: 8px;
        justify-content: space-between;
        width: 98%;
        margin: 10px 1%;
        position: fixed;
        bottom: 0%;
        left:0;
        transition: 0.3s;
        background: linear-gradient(90deg, rgb(255, 156, 102), rgb(255, 75, 105));
        .left_part{
            //border: 2px solid violet;
            width: 40px;
            margin: 0 0 0 10px;
        }
        .right_part{
            //border: 2px solid indigo;
            width: 76%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .input_cont{
                //border: 1px solid red;
                padding: 5px 7px 7px 5px;
                border-radius: 8px;
                input{
                    //border: 2px solid red;
                    border: none;
                    outline: none;
                    border-radius: 4px 0 0 4px;
                }
                button{
                    //border: 2px solid red;
                    border: none;
                    outline: none;
                }
            }
            .total_price_cont{
                //border: 2px solid blue;
                .see_list{
                    //border: 2px solid green;
                    text-align: right;
                }
                .detailes{
                    //border: 2px solid yellow;
                    .heading{
                        font-size: 0.8rem;

                    }
                    .value{

                    }
                }
            }  
            .buy_all{
                //border: 2px solid orange;

            }          
        }
    }
}























@media screen and (width <= 570px) {
    .cart_bg{
        margin-top: 4.5rem;
        .product_cont{
            .left_part{
                width: 12rem;
                img{
                }            
            }
            .right_part{
                .whishlist_cont{
                    .BiHeart{
                    }
                    span{
                        font-size: 0.6rem;
                    }
                    
                }
                .info_cont{
                    .heading_values{
                        span{
                        }
                        .info_heading{
                            font-size: 0.8rem;
                        }
                        .info_value{
                            font-size: 0.7rem;
                        }
                    }
                }
                .btns_cont{
                    .upper_btns{
                        button{
                            font-size: 0.7rem;
                        }
                        .add_btn{
                        }
                        select{
                            //border: 2px solid blue;
                            
                        }
                        .buy_btn{
                        }
                    }
                    .lower_btns{
                        button{
                            font-size: 0.7rem;
                        }
                        .review_btn{
                        }
                    }
                }
            }
        }
    }
}