@import "../utils.scss";

.summery_cont{
    background: white;
    height: 70%;
    width: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 8px;
    .heading{
        text-align: center;
        font-weight: bold;
        border: 1px solid $primary;
        margin: 0 0 10px 0;
        color: $primary;
        border-radius: 5px;
    }
    .summery_table{
        //border: 2px solid green;
        height: 80%;
        overflow-x: hidden;
        overflow-y: scroll;
        //display: grid;
        //flex-direction: column;
        //grid-template-columns: 60% 10% 10% 10%;
        .scrollable_part{
            //border: 2px solid blue;
            padding: 20px 0;
            border-top:2px dotted #919191;
            border-bottom:2px dotted #919191;
            .row{
                //display: flex;
                display: grid;
                grid-template-columns: 60% 12% 8% 22%;
                font-size: 0.6rem;
                .col{
        
                }
            }
            s{
                color: #919191;
            }
        }
    }
    .total_amount_row{
        display: grid;
        grid-template-columns: 60% 12% 8% 22%;
        font-size: 0.6rem;
        font-weight: bold;
        border: 1px solid $primary;
        height: 13px;
        border-radius: 0 0 5px 5px;
        padding: 10px 0;
        .col{

        }
    }
}

.cart_bg{
    //border: 2px solid red;
    margin-top: 4.5rem;

    .access_bar_bg{
        //border: 1px solid blue;
        display: flex;
        border-radius: 8px;
        justify-content: space-between;
        position: fixed;
        bottom: 0%;
        left:0.5%;
        transition: 0.8s;
        margin: 10px 0;
        //background: linear-gradient(90deg, $primary, $secondary);



        .left_part{
            //border: 2px solid violet;
            width: 70%;
            .input_cont{
                //border: 1px solid red;
                padding: 4px;
                background: white;
                border-radius: 4px;
                display: flex;
                width: 100%;
                max-width: 205px;
                box-sizing: border-box;
                input{
                    //border: 2px solid rgb(25, 0, 255);
                    background: white;
                    border: none;
                    outline: none;
                    padding: 4px;
                    border-radius: 4px 0 0 4px;
                    min-width: 0;
                }
                button{
                    //border: 2px solid red;
                    border-radius: 3px;
                    padding: 4px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.4;
                    }
                }
            }
            .total_price_cont{
                //border: 2px solid blue;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3px;
                border-radius: 4px;
                background: white;
                max-width: 200px;
                margin-top: 5px;
                .detailes{
                    //border: 2px solid yellow;
                    .heading{
                        font-size: 0.8rem;
                        color: #515151;
                        font-weight: 500;
                    }
                    .value{
                        font-size: 0.7rem;
                        color: #919191;

                    }
                }
                .see_list{
                    //border: 2px solid green;
                    text-align: right;
                    cursor: pointer;
                    .GoChecklist{
                        border-radius: 3px;
                        width: 28px;
                        height: 28px;
                        color: black;
                        background: rgb(240, 240, 240);
                        //transition:0.8s;
                        &:hover{
                            opacity: 0.4;
                        }
                    }
                }
            } 
        }




        .right_part{
            //border: 2px solid indigo;
            //width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            //background: white;
            border-radius: 4px;
            padding: 2px;
            margin-left: auto;
            //margin-right: 4px;
            
            .access_bar_bg_toggler{
                //color: white;
                width: 29px;
                height: 29px;
                border: none;
                //border: 1px solid red;
                border-radius: 4px;
                padding: 0;
                background: transparent;
                cursor: pointer;
                .toggler_icon{
                    border-radius: 3px;
                    width: 28px;
                    height: 28px;
                    //transition:0.8s;
                    opacity: 1;
                    &:hover{
                        opacity: 0.4;
                    }
                }
            }
            .buy_all{
                //border: 2px solid orange;
                //width: 38px;
                height: 28px;
                button{
                    border: none;
                    border-radius: 3px;
                    width: 28px;
                    height: 28px;
                    color: black;
                    background: rgb(240, 240, 240);
                    font-size: 0.7rem;
                    cursor: pointer;
                    //transition:0.8s;
                    &:hover{
                        opacity: 0.4;
                    }
                }
            }          
        }
    }
}























@media screen and (width <= 570px) {
    .cart_bg{
        margin-top: 4.5rem;

        .access_bar_bg{
            border-radius: 4px;
            .left_part{
                .input_cont{
                    input{
                    }
                    button{
                    }
                }
                .total_price_cont{
                    border-radius: 4px;
                    .detailes{
                        .heading{
                        }
                        .value{
                        }
                    }
                    .see_list{
                        .GoChecklist{
                        }
                    }
                }
            }
            .right_part{
                .access_bar_bg_toggler{
                    //width: 30px;
                    //height: 30px;
                    .toggler_icon{
                        //width: 28px;
                        //height: 28px;
                    }
                }
                .buy_all{

                    button{
                        font-size: 0.7rem;
                    }
                }          
            }
        }        
    }
}