

.home_bg{
    //border: 2px solid blue;
    margin-top: 60px;
    transition: 0.3s;
    .home_sub_accessbar{
        //border: 2px solid blue;
        text-align: right;
        
        .search_inp_cont{
            display: inline-flex;
            padding: 6px;
            border-radius: 4px;
            background: linear-gradient(90deg, rgb(255, 156, 102), rgb(255, 75, 105));
            box-shadow: 1px 1px 10px 1px rgba(255, 75, 105, 0.3);
            input{
                //border: 2px solid orange;
                //outline:none;
                border:none;
                padding: 4px;
                border-radius: 2px 0 0 2px;
            }
            button{
                //border: 2px solid orange;
                border:none;
                padding: 4px;
                border-radius: 0 2px 2px 0;
            }
        }
    }
    .pagination_number{
        //border: 2px solid red;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 0.7rem;
        color: #919191;
    }
    .grouped_products_conts{
        //border: 2px solid green;
        margin-top: 20px;
        .heading{
            //border: 2px solid orange;
            font-size: 0.9rem;
            padding: 4px 10px;
            font-weight: bold;
            color: white;
            //box-shadow: 1px 1px 10px 1px rgba(255, 75, 105, 0.3);            
            background: linear-gradient(270deg, rgb(255, 156, 102), rgb(255, 75, 105));
            border-radius: 4px;
        }
        .products{
            //border: 2px solid red;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            //border:1px solid rgba(255, 75, 105, 0.3);
            //box-shadow: 1px 1px 10px 1px rgba(255, 75, 105, 0.3);
        }
    }
}