
.searched_products_bg{
    //border: 2px solid red;
    display: flex;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    .filters_cont{
        //border: 2px solid green;
        width: 28%;
        //height: 88vh;
        position: fixed;
        //display: inline-block;
        input{
            width: 96%;
        }
    }
    .products_cont{
        //border: 2px solid blue;
        width: 70%;
        margin-left: auto;
        
    }
}