//==============================================
//==============================================
$primary:#ff4b69;
$secondary:#ff9c66;
$primaryLow:#ff4b6999;
$secondaryLow:#ff9c6699;
$primaryHover:#ff4b691a;
$secondaryHover:#ff9c661a;
$btnDefault:#3e98ff;
$btnHover:#3e98ffb0;
$bgPrimary:#fff7f8;
$shadow:1px 1px 8px 1px #ff4b6941;
//==============================================
//==============================================

@mixin containerHollow($radius:8px){
    border:1px solid $primary;
    border-radius: $radius;
}



@mixin headingSm($color:#515151, $padding:4px 10px){
    font-size: 0.7rem;
    padding: $padding;
    font-weight: bold;
    color: $color;
}
@mixin headingMed($color:#515151, $padding:4px 10px){
    font-size: 0.8rem;
    padding: $padding;
    font-weight: bold;
    color: $color;
}
@mixin headingLg($color:#515151, $padding:4px 10px){
    font-size: 0.9rem;
    padding: $padding;
    font-weight: bold;
    color: $color;
}
@mixin headingXl($color:#515151, $padding:4px 10px){
    font-size: 1rem;
    padding: $padding;
    font-weight: bold;
    color: $color;
}
@mixin paraSm($color:black){
    font-size: 0.6rem;
    //padding: 4px 10px;
    //font-weight: bold;
    color: $color;
}
@mixin paraMed($color:black){
    font-size: 0.7rem;
    //padding: 4px 10px;
    //font-weight: bold;
    color: $color;
}
@mixin paraLg($color:black){
    font-size: 0.8rem;
    //padding: 4px 10px;
    //font-weight: bold;
    color: $color;
}
@mixin paraXl($color:black){
    font-size: 0.9rem;
    color: $color;
}
@mixin primaryBtn($margin:10px 5px, $gradient1:#64acff, $gradient2:#0163d4){
    @include headingLg(white, 10px);
    background: $btnDefault;
    margin: $margin;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, $gradient1, $gradient2);
    box-shadow: $shadow;
    &:hover{
        opacity: 0.6;
    }
}




.bug_report_cont{
    /*border: 2px solid red;*/
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, $secondary, $primary);
    position: fixed;
    bottom: 5px;
    right: 5px;
    .GoReport{
        /*border: 2px solid blue;*/
        color: white;
    }
}