#root {
    margin-top: 60px;
}

.bug_report_cont{
    /*border: 2px solid red;*/
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(255, 156, 102), rgb(255, 75, 105));
    position: fixed;
    bottom: 5px;
    right: 5px;
    .GoReport{
        /*border: 2px solid blue;*/
        color: white;
    }
}